html, 
body {
    overflow-y: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
    background-color: #07629e;
    letter-spacing: 0.2em;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.9), #07629e);
}

header nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
	letter-spacing: 0.3em;
	color: white;
	background-color: #07629e;
	border-bottom: 1px solid white;
}
.scrolled {
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

/* HR => Gradient transparant - kleur - transparant */
hr {
    border: 0px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

h2, 
h3 {
    color: rgba(255, 255, 0, 0.85);
}

.blockDisplay {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    text-shadow: 1px 0px 7px rgba(0, 0, 0, 1),
                 3px 2px 15px rgba(255, 255, 255, 0.8),
                 0px 0px 10px rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}
.landingpage {
    height: 100vh;
    width: 100vw; 
    background: url(IMGS/CodeBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px white dotted;
}
.landingpage .row:nth-of-type(1) {
    padding-top: calc(25vh - 50px);
}
.landingpage .row:nth-of-type(2) {
    margin-top: 60px;
}

.landingpage h1{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2em;
}
.card button {
    width: 100%;
    padding: 30px;
}

.footersocial {
    color: white;
    height: 150px;
    border-top: 1px solid white;
    padding-top: 30px;
    background-color: #2f2f2f;
}
.footersocial .row:nth-of-type(1) a {
    text-align: center;
    font-size: 2.0em;
    text-decoration: none;
}
.footersocial .row:nth-of-type(1) a:hover {
    font-size: 2.2em;
}

#socialfooter {
    text-align: center;
    border: 1px solid white;
}
