/*Body blok*/
body {
	font-family: 'Source Sans Pro', sans-serif;
	background: white;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
	border: 20px solid 	#bdc3c7;
	padding: 20px;
}
/*Artikel post class*/
.Post {
	margin-bottom: 20px;
}
/*datum*/
.datum {
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: 18px;
	font-weight: 900;
	color: #3498db;
	padding-left: 5px;
}

/*1e paragraaf*/
.paragraaf1 {
	border-left: 5px dotted #bdc3c7;
	padding-left: 5px;
}

/*<HR> Horizontal Rule */
hr { 
	 border: 0; height: 1px;
	 background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));