/*/*font-family*/
p {
	font-family: 'Lato', sans-serif;
	font-style: italic;
}
h1 {
	font-family: 'Rubik Mono One', sans-serif;
}

/*font-size*/
body {
	font-size: 18px;
}
}
h1 {
	font-size: 5.0em;
}
span {
	font-size: 1.5em;
}

/*font-weight*/

p	{
	font-weight: normal;
}

/*line-height*/

p	{
	line-height: 1.5;
}

/*text-align*/

h1 {
	text-align: center;
}

}
/*text-decoration*/

/*p	{
	text-decoration: underline;*/
}
h1 {
	text-decoration: line-through;
}

/*Margin*/
p {
	width: 50%;
}
p {
	margin: 40px auto 0 auto;
}