.winner {
    color: green;
    padding: 20px;
    font-size: 200px;
}
.loser {
    color: red;
}

.scorekeeper {
    text-align: center;
    height: 800px;
    padding-top: 20%;
}
div h1 {
    font-size: 125px;
}