body {
    background-color: #232323;
}
h1 {
    color: white;
}
.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 10%;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    background: blue;
}